.data-grid-container
    position: relative
    margin-bottom: 20px
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
    grid-gap: 15px
    width: 80%
    max-width: 1100px
.card
    padding: 0
    padding-top: 20px
    display: flex
    flex-direction: column
    align-items: center
    border-radius: 5px
    box-shadow: 0px 0px 4px #ebebeb
    .tag
        width: 50px
        margin-bottom: 20px
    .logo
        max-width: 100%
        max-height: 73px
    .sale1,.sale2
        text-align: center
        padding: 5px 10px
        min-width: 183px
        display: flex
        align-items: center
        justify-content: center
        width: 100%
    .sale1
        margin-top: 15px
        font-size: 19px
        color: #12bf3d
    .sale2
        margin-bottom: 15px
.terms
    color: #6d6d6d
    width: 100%
    text-align: center
    background: #F7F7F7
    padding: 10px 0
    font-size: 10px
.form
    padding: 15px 0 0 0
    width: 100%
    background: #F7F7F7

.MuiInputLabel-animated
    font-size: 1rem !important
    margin-left: 50% !important
    transform: translate(-50%) !important
    color: #252525 !important
.MuiInput-underline:before
    border: none !important
.MuiSelect-icon
    right: auto
    left: 50%
    transform: translate(-50%)
#demo-simple-select-label
    pointer-events: none !important
@media screen and (max-width:768px)
    .data-grid-container
        width: 95%
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr))
